@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Feed>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";
    var currentEvents = Model.Content.Site()
        .Descendants<Presentation>()
        .Where(x => x.StartTime < DateTime.Now && x.EndTime > DateTime.Now)
        .OrderBy(x => x.StartTime)
        .Take(3);

    var nextEvents = Model.Content.Site()
        .Descendants<Presentation>()
        .Where(x => x.StartTime > DateTime.Now)
        .OrderBy(x => x.StartTime)
        .Take(3);
}


<script> 

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1537486793039270',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v2.11'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
                </script>


<div class="feedTopBorder"></div>

@if (currentEvents.Any())
{
    <div class="container mt-5">
        <div class="row">
            <div class="currentEvents col-sm-12">
                <h5>Current events</h5>
                @foreach (var item in currentEvents)
                {
                    <div class="event">
                        @try
                        {
                            var speaker = item.Speaker.First();
                            @speaker.GetPropertyValue("speakerName");

                        }
                        catch (Exception) { }
                        <p>@item.Headline</p>
                        <p>@item.StartTime.ToString("H:mm")</p>
                    </div>
                }
            </div>
        </div>
    </div>
}

<div class="container @if(!currentEvents.Any()){ @Html.Raw("mt-5")} ">
    <div class="row">
        <div class="upcommingEvents col-sm-12">
            <h5> Upcomming events</h5>
            @foreach (var item in nextEvents)
            {
                <div class="event">
                    @try
                    {
                    var speaker = item.Speaker.First();
                    @speaker.GetPropertyValue("speakerName");

                    }
                    catch (Exception){ }
                    <p>@item.Headline</p>
                    <p>@item.StartTime.ToString("H:mm")</p>
                </div>
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="socialMedia">
            <h4 class="socialHeadline"> Social <br /> Media </h4>
            
            <div class="twitter mt-3">
                <div class="twitterHeadline">
                    <h5>Follow us on Twitter</h5>
                </div>

                <div class="twitterFeed">

                    <a class="twitter-timeline" href="https://twitter.com/hashtag/codegarden" data-widget-id="938896045664342016">#codegarden Tweets</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            </div>
               
            </div>

            <div class="instagram mt-5">

                    <h5>Find us on Instagram</h5>

                <div class="instagramProfiles">
                    <div class="profile1">

                        <a href="https://www.instagram.com/umbraco/"> <img class="img-fluid" src="~/img/imageedit_3_5099274840.jpg" /> </a>

                       

                         <a href="https://www.instagram.com/umbraco/"> <strong>Umbraco Profile</strong>  </a>


                    </div>


                    <div class="profile1">

                        <a href="https://www.instagram.com/umbraco/"> <img class="img-fluid" src="~/img/imageedit_3_5099274840.jpg" /> </a>



                        <a href="https://www.instagram.com/umbraco/"> <strong>Umbraco Profile</strong>  </a>


                    </div>

                    
                   
                </div>

             </div>
                


            <div class="facebook mt-5 mb-5">

                    <h5> Like us on Facebook </h5>


                <a class="button-red" href="~/Views/Feed.cshtml"> (ThumbsUP) Facebook </a>
            </div>
           

           



        </div>

    </div>
</div>
   

