@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Frontpage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";
    var img = Model.Content.LogoImage;

}


<div class="container">
    <div class="row">

        <div class="landingPage">

            
           




            <div class="col-md-12">
               
                <div class="bublesFrontpage">
                    <img class="topCircles" src="~/img/top-circles.svg" />

                </div>




                <div class="logo-container">


                   


                    <div class="countDown">

                        @{
                            var targetDate = Model.Content.CountdownDate;
                            var today = DateTime.Now;
                            var daysToTarget = (targetDate - today).Days;

                        }

                        <p>
                            <span> Hurrah! </span>
                            <span> only @daysToTarget  days </span>
                            <span>until the next </span>
                        </p>



                    </div>

                    <div class="text-center">

                        @{

                            <img class="img-fluid text-center" src="@img.Url" />
                        }
                        <p class="mt-1"> But whats in it? </p>



                        
                    </div>

                   

                </div>
                <div class="bublesFrontpage2">
                    <img class="buttom-circles" src="~/img/bottom-circles.svg" />
                </div>
            </div>


           
            <div class="downArrow">
                <a href="#landingPageToHere"> <img src="~/img/down arrow white.png" /></a>
            </div>


        </div>

       



    </div>



</div>



<div id="landingPageToHere" class="container">
    <div class="row ">
       <div class="frontpageBlock"> 

            <div class="firstboxcontent mt-3">
                   <h4>@Umbraco.Field("headline")</h4>
            </div>
        
        
    </div>
        <div class="frontpageBlock">

            
            <div class="firstboxcontent">
                <p> @Umbraco.Field("bodyText") </p>
            </div>

        </div>
</div>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-12 buttom-buffer">

            <div class="buttonsDiv mt-2">
                <a class="button-red" href="~/Views/Feed.cshtml"> Feed </a>
            </div>
            <div class="buttonsDiv">
                <a class="button-green"  href="~/Views/Speakers.cshtml"> Speakers </a>
            </div>
            <div class="buttonsDiv">
                <a class="button-orange" href="~/Views/Schedule.cshtml"> Schedule </a>
            </div>
           
            

        </div>


    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="frontpageBlock">

            <div class="firstboxcontent mt-3">
                <h4> @Umbraco.Field("headline2") </h4>
            </div>


        </div>
        <div class="frontpageBlock">


            <div class="firstboxcontent">
                <p> @Umbraco.Field("bodyText2") </p>
 
            </div>

            <div class="callToActionFrontpage">
                <div class="textBeforeIcon">
                    <a href="@Model.Content.CallToActionLink">
                        <p class="callToActionText"> <strong>@Model.Content.CallToActionText </strong> </p>

                    </a>
                </div>

                <div class="iconCallToAction">
                    <a href="@Model.Content.CallToActionLink"> <p class="iconArrow"> &#10148; </p> </a>

                </div>
                

            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 buttom-buffer">

            <div class="buttonsDiv mt-2">
                <a class="button-red" href="~/Views/Awards.cshtml"> Award </a>
            </div>
            <div class="buttonsDiv">
                <a class="button-green" href="/odense-life"> Odense life </a>
            </div>
            <div class="buttonsDiv">
                <a class="button-orange" href="/about-hq"> About HQ </a> 
            </div>



        </div>


    </div>
</div>