@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Schedule>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";
    var dates = Model.Content.Site().Descendants<DateBox>();
}

<section id="schedule" class="schedule">
    <div class="block">
        <div class="container">
            <h2 class="headline">@Model.Content.Headline</h2>
            <p>@Model.Content.Bodytext</p>

            @foreach (var DateBox in dates)
            {
                <div class="day">
                    <h3>@DateBox.Date.ToString("dddd, MMMM d")</h3>
                

                @foreach (var TimeBox in DateBox.Descendants<TimeBox>())
                {
                    <div class="timeBox">
                        <h4>@TimeBox.Time</h4>

                        @foreach (var RoomBox in TimeBox.Descendants<RoomBox>())
                        {

                            var uid = System.Guid.NewGuid().ToString();
                            var MainId = "Main" + uid;
                            var MenuId = "Menu" + uid;
                            <div class="roomBox">
                                <div id="@MainId">
                                    <h5 class="roomTitle">@RoomBox.RoomName</h5>
                                    <p>@RoomBox.EventTitle</p>
                                    <p>@RoomBox.EventHost</p>
                                    <div class="contextButton" data-target="@MenuId" data-self="@MainId">
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </div>
                                </div>
                                <div id="@MenuId" class="hiddenBox">
                                    <div><a href="#">content</a></div>
                                    <div><a href="#">content</a></div>
                                    <div><a href="#">content</a></div>
                                    <div class="contextButton" data-target="@MainId" data-self="@MenuId">
                                        <i class="material-icons">keyboard_arrow_left</i>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
            }
        </div>
    </div>
</section>
