@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Speakers>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";

    var mediaId = Umbraco.Field("speakerPic");
    //Get the MediaType to Write the URL
    var media = Umbraco.Media(mediaId.ToString());
    //Salve the Path into the Image
    var image = media.Url;

    var speakers = Model.Content.Children<Speaker>();

}


<div class="speakerTopLine">

</div>

<div class="speakerContainer">
    <div class="row">
        <div class="headBox">

            <div>
                <h4> @Umbraco.Field("headline") </h4>
            </div>

        </div>
        <div class="bodyBox">

            <div>
                <p> @Umbraco.Field("bodyText") </p>
            </div>

        </div>
    </div>
</div>


<div class="container speakerPicContainer">
    <div class="row">
    @foreach (var speaker in speakers)
    {
        <div class="speakerPicBox">
            <a href="@speaker.Url">
                <img src="@speaker.SpeakerPic.Url" class="speakerPicture" /><br />
                <strong>@speaker.SpeakerDescription</strong>
            </a>
        </div>
    }
    </div>
</div>


<div class="themeContainer">
    <div class="speakerContainer">
        <div class="row ">
            <div class="headBox">

                <div>
                    <h4> @Umbraco.Field("themeHeadline") </h4>
                </div>

            </div>
            <div class="bodyBox">

                <div>
                    <p> @Umbraco.Field("themeBody") </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="speakerContainer">
    <div class="row ">
        <div class="headBox">

            <div>
                <h4> @Umbraco.Field("storiesHeadline") </h4>
            </div>

        </div>
        <div class="bodyBox">

            <div>
                <p> @Umbraco.Field("storiesBody") </p>
            </div>

        </div>
    </div>
</div>

