@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Speakers>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";

    var mediaId = Umbraco.Field("speakerPic");
    //Get the MediaType to Write the URL
    var media = Umbraco.Media(mediaId.ToString());
    //Salve the Path into the Image
    var image = media.Url;

    var speakers = Model.Content.Children<Speaker>();

}


<div class="speakerTopLine">

</div>

<div class="container speakerContainer top-buffer">
    <div class="row">
        <div class="headBox col-sm-12">

            <div>
                <h4> @Umbraco.Field("headline") </h4>
            </div>

        </div>
        <div class="bodyBox col-sm-12 mb-3">

            <div>
                <p> @Umbraco.Field("bodyText") </p>
            </div>

        </div>
    </div>
</div>


<div class="container speakerContainer">
    <div class="row mb-3">
    @foreach (var speaker in speakers)
    {
        <div class="col-6 col-md-4 mt-3">
                <img src="@speaker.SpeakerPic.Url" class="img-fluid speakerPicture mb-2" /><br />
                <strong class="speakerName">@speaker.SpeakerName</strong>
                <p class="speakerDescription">@speaker.SpeakerDescription</p>
        </div>
    }
    </div>
</div>


<div class="themeContainer">
    <div class="container speakerContainer">
        <div class="row ">
            <div class="headBox col-sm-12 mt-3">

                <div>
                    <h4> @Umbraco.Field("themeHeadline") </h4>
                </div>

            </div>
            <div class="bodyBox col-sm-12 mb-3">

                <div>
                    <p> @Umbraco.Field("themeBody") </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container speakerContainer">
    <div class="row ">
        <div class="headBox col-sm-12 mt-3">

            <div>
                <h4> @Umbraco.Field("storiesHeadline") </h4>
            </div>

        </div>
        <div class="bodyBox col-sm-12 mb-3">

            <div>
                <p> @Umbraco.Field("storiesBody") </p>
            </div>

        </div>
    </div>
</div>

