@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var categories = Model.Content.Site().Descendants<Category>();
}

<div class="awardsTopBorder"></div>
<div class="_awardsduring container">
    <div class="firstBox row">
        <div class="col-sm-12 mt-4">
            <h1><strong>@Umbraco.Field("headlineDuring")</strong></h1>
            @Umbraco.Field("bodytextDuring")
        </div>
    </div>
    
    <div class="row">
        @foreach (var category in categories)
        {
            <div class="col-sm-12">
                <a href="@category.Url">
                    <div class="rect">

                        <img src="@category.Picture.Url" title="@category.Headline" />
                        <div class="content">
                            <h6><strong>@category.Headline</strong></h6>
                            @category.Bodytext
                        </div>

                        <br />
                    </div>
                </a>
            </div>
        }
    </div>
</div>

