@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var categories = Model.Content.Site().Descendants<Category>();
}

<div class="_awardsduring">
    <div class="firstBox">
        <h1><strong>@Umbraco.Field("headlineDuring")</strong></h1>
        <p>@Umbraco.Field("bodytextDuring")</p>
    </div>
    
        @foreach (var category in categories)
        {
            <a href="@category.Url">
                <div class="rect">

                    <img src="@category.Picture.Url" title="@category.Headline" />
                    <div class="content">
                        <h6><strong>@category.Headline</strong></h6>
                        <p>@category.Bodytext</p>
                    </div>

                    <br />
                </div>
                </a>
            
        }
    
        

</div>

